.App {
  text-align: center;
}

.App-main{
  /* background-color: rgb(50, 4, 83); */
  padding: 10px;
  /* max-height: 90vh; */
  /* max-width: 90vw; */
  display: flex;
  flex-direction: row;

}

.App-canvas{
  background-color: rgb(255, 255, 255);
  border: 5px;
  border-color: black;

}

button {
  background-color: rgb(34, 20, 95);
  border: 1px solid rgb(124, 110, 185);
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(104, 80, 212);
}
.card-wrapper {
  position: relative;
  
}
.component_card {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 145px;
  height: 125px;
  border: 1px solid gray;
  background-color: #FDFDFF;
  border-radius: 14px;
  box-shadow: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popover {
  width: 436px;
  padding: 10px 15px;
  background-color: #E9EAF3;
  position: absolute;
  top:2px;
  left:195px;
}
.tank-selector {
  display: flex;
  justify-content: space-between;
}
.tank-list {
  width: 170px;
}
.add-action {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.active_card {
background-color: #565FBB;
color: white;
width: 175px;

}
.active_svg {
  stroke: white;
}

.inactive-svg {
  stroke: black;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  color: gray;
  cursor: pointer;
}